//COLOR
//primary

$paleBlue : hsl(225, 100%, 94%);
$brightBlue : hsl(245, 75%, 52%);

//neutral
$veryPaleblue : hsl(225, 100%, 98%);
$desaturatedBlue : hsl(224, 23%, 55%);
$darkBlue : hsl(223, 47%, 23%);

//TYPOGRAPHY
$font-size : 1rem;


